body {
display: block;
margin: 0;
}
.mini_score {
background: #33950f;
display: inline-block;
box-sizing: border-box;
padding: 0 4px;
font-family: 'Roboto', sans-serif;
vertical-align: top;
}
/*.mini_score h4 {
font-size: 10px;
color: #fff;
font-weight: normal;
margin: 0;
padding: 0;
text-align: center;
}*/

.mini_score h4 {
font-size: 8px;
color: #fff;
font-weight: normal;
margin: 0;
padding: 2px 0 2px 0;
text-align: center;
}
.mini_score .score_tab {
width: 100%;
float: left;
font-size: 11px;
font-weight: bold;
}
.mini_score .score_tab a {
color: #fff;
text-decoration: none;
text-transform: uppercase;
padding: 0 2px;
display: inline-block;
}
.mini_score .score_tab span {
display: inline-block;
padding: 0px 2px 2px 6px;
color: #fff;
font-weight: normal;
position: relative;
bottom: 1px;
}
.mini_score .score_tab a.active {
background: #fff;
color: #113f00;
border-radius: 2px 2px 0 0;
}
.mini_score .score_veiw {
width: 100%;
display: inline-block;
background: #fff;
text-align: center;
border-radius: 2px;
font-size: 15px;
font-weight: bold;
padding-bottom: 2px;
margin-top: -3px;
line-height: 18px;
}
.mini_score .score_veiw span {
font-size: 10px;
font-weight: 700;
width: 100%;
display: inline-block;
color: #33950f;
line-height: 9px;
}
.mini_score .score_report {
width: 100%;
float: left;
text-align: center;
color: #fff;
font-size: 10px;
line-height: 9px;
padding-top: 2px;
}
.mini_score.view2 .score_veiw {
font-size: 22px;
line-height: 24px;
}
.mini_score.view2 .score_report {
line-height: normal;
}

.winning-perc {
float:left;
margin:0px 0 10px 0;
padding:0px;
box-sizing:border-box;
width:100%;
border-radius:2px;
background:#fff;
overflow:hidden;
}
.winning-perc table {
background:#fff;
}
.winning-perc table tr {
border:none;
}
.winning-perc table td {
font-size:24px;
padding:2px 7px 2px 10px;
text-align:right;
line-height:normal;
background:none;
}
.winning-perc table td:first-child {
text-align:left;
color:#1c480c;
font-size:20px;
font-weight:bold;
}
 @media screen and (min-width:160px) {
.mini_score {
 width: 160px;
 height: 160px;
}
.mini_score h4 {
 font-size: 16px;
 padding: 4px 0;
}
.mini_score .score_tab {
 font-size: 22px;
}
.mini_score .score_veiw {
 line-height: 40px;
 font-size: 30px;
 padding-bottom: 3px;
}
.mini_score .score_veiw span {
 line-height: 20px;
 font-size: 15px;
}
.mini_score .score_report {
 font-size: 14px;
 line-height: 16px;
}
.mini_score .score_tab span {
 bottom: 3px;
 color: #fff;
 display: inline-block;
 font-size: 18px;
 font-weight: normal;
 padding: 0 14px 0px 16px;
 position: relative;
}
.mini_score .score_report {
 padding-top: 5px;
}
}
 @media screen and (min-width:150px) and (max-width:159px) {
.mini_score {
 width: 150px;
 height: 150px;
}
.mini_score h4 {
 font-size: 15px;
 padding: 4px 0;
}
.mini_score .score_tab {
 font-size: 22px;
}
.mini_score .score_veiw {
 line-height: 32px;
 font-size: 30px;
 padding-bottom: 3px;
}
.mini_score .score_veiw span {
 line-height: 20px;
 font-size: 15px;
}
.mini_score .score_report {
 font-size: 14px;
 line-height: 15px;
}
.mini_score .score_tab span {
 bottom: 3px;
 color: #fff;
 display: inline-block;
 font-size: 18px;
 font-weight: normal;
 padding: 0 14px 0px 16px;
 position: relative;
}
.mini_score .score_report {
 padding-top: 5px;
}
}
 @media screen and (min-width:120px) and (max-width:149px) {
.mini_score {
 width: 120px;
 height: 120px;
}
.mini_score h4 {
 font-size: 12px;
}
.mini_score .score_tab {
 font-size: 18px;
}
.mini_score .score_veiw {
 line-height: 28px;
 font-size: 24px;
}
.mini_score .score_veiw span {
 line-height: 14px;
}
.mini_score .score_report {
 font-size: 12px;
 line-height: 12px;
}
.mini_score .score_tab span {
 padding: 0 3px 0 7px;
}
.winning-perc table td {
font-size:20px;
}
.winning-perc table td:first-child {
font-size:16px;
}
}
 @media screen and (min-width:85px) and (max-width:119px) {
.mini_score {
 width: 100px;
 height: 100px;
}
.mini_score h4 {
 font-size: 12px;
}
.mini_score .score_tab {
 font-size: 14px;
}
.mini_score .score_veiw {
 line-height: 24px;
 font-size: 18px;
}
.mini_score .score_report {
 line-height: 10px;
}
.mini_score .score_tab span {
 padding: 0 5px 0 8px;
}
}
 @media screen and (max-width:85px) {
.mini_score {
 width: 80px;
 height: 80px;
}
}
/*Batting*/
.mini_score h3 {
color: #fff;
font-size: 8px;
font-weight: normal;
margin: 0;
padding: 5px 0 0px;
text-transform: uppercase;
font-size:14px;
font-weight:600;
text-align:center;
}
.match_head {
color:#fff;
font-size:18px;
font-weight:700;
margin:0px;
padding:10px;
text-align:center;
line-height:18px;
text-transform:uppercase;
}
.match_head span {
font-size:18px;
text-transform:none;
}
.batting-score {
float:left;
margin:0px;
padding:0px;
box-sizing:border-box;
width:100%;
}
table {
width:100%;
margin:3px 0 0px;
}
table th {
color:#fff;
font-size:14px;
font-weight:400;
margin:0px;
padding:0px;
}
table th:first-child {
text-align:left;
padding:0 0 0 5px;
}
table tr {
border-bottom:2px solid #33950f;
box-sizing: border-box;
display: inline-table;
width: 100%;
}
table tr:last-child {
border-bottom:none;
}
table td {
color:#000;
font-size:10px;
font-weight:600;
margin:0px;
padding:2px 0 2px 3px;
background:#fff;
text-transform:uppercase;
text-align:center;
line-height:9px;
}
table td:first-child {
text-align:left;
}
 @media screen and (min-width:150px) {
.mini_score {
 width: 160px;
 height: 160px;
}
.mini_score h4 {
 font-size: 16px;
}
.mini_score .score_tab {
 font-size: 22px;
}
.mini_score .score_veiw {
 line-height: 40px;
 font-size: 30px;
}
.mini_score .score_veiw span {
 line-height: 15px;
 font-size: 14px;
}
.mini_score .score_report {
 font-size: 14px;
 line-height: 15px;
}
}
 @media screen and (min-width:120px) and (max-width:149px) {
.mini_score {
 width: 120px;
 height: 120px;
}
.mini_score h4 {
 font-size: 13px;
}
.mini_score .score_tab {
 font-size: 18px;
}
.mini_score .score_veiw {
 line-height: 28px;
 font-size: 24px;
}
.mini_score .score_veiw span {
 line-height: 15px;
}
.mini_score .score_report {
 font-size: 12px;
 line-height: 12px;
}
table {
 margin: 0;
}
 table th {
font-size: 12px;
padding-right: 3px; 
text-align: right; 
}
table td {
font-size: 11px;
font-weight:400;
padding: 1px;
text-transform:capitalize;
line-height:11px;
}
table td:first-child {
 padding: 1px;
}
 .mini_score h3 {
 font-size: 13px;
 font-weight: 500;
}
.match_head {
 font-size: 10px;
 font-weight: 500;
 line-height: 14px;
 margin:-2px 0 0px;
 padding:5px;
}
.match_head span {
 font-size: 14px;
}
.mini_score h3 {
 padding: 1px 0 0;
}
.winning-perc {
margin-bottom:3px;
}
.winning-perc table td {
font-size:20px;
}
.winning-perc table td:first-child {
font-size:16px;
padding:3px 7px 2px 5px;
}
}
 @media screen and (min-width:85px) and (max-width:119px) {
   
.mini_score {
 width: 100px;
 height: 100px;
 padding: 0 3px;
}
.mini_score h4 {
 font-size: 10px;
}
.mini_score .score_tab {
 font-size: 14px;
}
.mini_score .score_veiw {
 line-height: 24px;
}
 table {
 margin: 0;
}
 table th {
font-size: 10px;
padding-right: 3px; 
text-align: right; 
}
table th:first-child {
padding: 0 0 0 1px;
}
table td {
font-size: 10px;
font-weight:400;
padding: 1px;
text-transform:capitalize;
line-height:10px;
}
table td:first-child {
 padding: 1px;
}
 .mini_score h3 {
 font-size: 11px;
 font-weight: 400;
 line-height:10px;
}
.match_head {
 font-size: 11px;
 font-weight: 500;
 line-height: 14px;
 margin:-2px 0 0px;
 padding:5px 5px 0 5px;
}
.match_head span {
 font-size: 10px;
}
.mini_score h3 {
 padding: 1px 0 0;
}
 .batting-score {
margin: -2px 0 0;
}
.winning-perc {
margin-bottom:3px;
}
.winning-perc table td {
font-size:15px;
}
.winning-perc table td:first-child {
font-size:10px;
padding:3px 7px 2px 5px;
}
}
 @media screen and (max-width:85px) {
.mini_score {
 width: 80px;
 height: 80px;
 padding: 0;
 box-sizing: border-box;
}
 table {
 margin: 0;
}
 table th {
font-size: 7px;
padding-right: 3px; 
text-align: right; 
}
table th:first-child {
padding: 2px 2px 0 1px;
}
table td {
font-size: 8px;
font-weight:500;
padding:1px 1px 0 1px;
text-transform:capitalize;
line-height:9px;
}
table td:first-child {
 padding: 0px 1px;
}
 table tr {
 border-bottom: 1px solid #33950f;
}
 .mini_score h3 {
 font-size: 8px;
 font-weight: 400;
 line-height:5px;
}
.match_head {
 font-size: 8px;
 font-weight: 500;
 line-height: 14px;
 margin:0px;
 padding:0px;
}
.match_head span {
 font-size: 6px;
}
.mini_score h3 {
 padding: 1px 0 0;
}
.batting-score {
margin: -2px 0 0;
}
.winning-perc {
/*margin-bottom:1px;*/
margin:0 1px 1px 1px;/*Edit*/
width:98%;/*Add*/
}
.winning-perc table td {
font-size:13px;
line-height:17px;
}
.winning-perc table td:first-child {
font-size:10px;
padding:1px 2px 1px 2px;
}
}
